*{
	font-family: verdana;
}
h2{
	text-indent: 10px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
#bet{
	font-size: 14px;
}
div{
	margin: 120px auto auto auto;
	border: 3px solid #000;
	border-radius: 5px;
	width: 400px;
	height: 415px;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

p, a{
	margin-left: 10px;
}

fieldset{
	border-radius: 5px;
	margin: 10px;
}

input{
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 4px;
	padding: 4px; 
	border: 2px solid #000;
	width: 60px;
	height: 22px;
}
/*Pseudo classe de invalido*/
input:invalid{
	border: 2px solid red;
} 
/*Pseudo classe de valido*/
input:valid{
	border-color: #000;

} 
.bot{
	border: 1px solid #000;
	text-indent: 0px;
	padding: 10px;
	margin: 10px;
	width: 80px;
	height: 40px;
}
#apr{
	color: green;
}
#exa{
	color: yellow;
}
#rep{
	color: red;
}